.Card{
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #333333;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    border: 2px solid #444;
    color: #444;
}